# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = spaces
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{json,json.j2,yml,yml.j2,yaml,yaml.j2}]
indent_size = 2
