[Unit]
Description=udevmon (Interception)
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
ExecStart=/usr/bin/nice -n -20 /usr/local/bin/udevmon -c {{ config_dir }}/udevmon.yaml

[Install]
WantedBy=multi-user.target
