[Desktop Entry]
Encoding=UTF-8
Name={{ app_name }}
Comment={{ app_name }} for Desktop
Exec={{ app_exec }}
Icon={{ app_name }}
StartupWMClass={{ app_name }}
Type=Application
Categories=Office;
MimeType=application/x-{{ app_name|lower }}
