[Unit]
Description=Yandex Disk by %i user
Requires=network.target
After=network.target

[Service]
Type=forking
User=%i
ExecStart=/usr/bin/yandex-disk start --config=/home/%i/.config/yandex-disk/config.cfg
RestartSec=1min
Restart=on-failure

[Install]
WantedBy=multi-user.target
